$first-color: #FFD241; 
$second-color: #000000;
$third-color: #CB0037;
$fourth-color: #FFFFFF;

$color-hover: #353333;
$color-hover-tel: #201919;
$color-countries: #8C8C8C;
$color-country: #C5B223;
$color-checkbox-paragraph: #C1C1C1;;
$button-hover: rgb(248, 194, 17); 


